.loginFormBox {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  form {
    background-color: rgba(246,247,248, 0.7);
    padding: 20px;
    border-radius: 20px;
    min-width: 400px;
    box-shadow: 0px 0px 3px 2px #ffffff;
    .formTitle {
      font-size: 20px;
      margin-bottom: 20px;
      font-family: cursive;
    }
    .forgotPasswordBox {
      display: flex;
      justify-content: space-between;
    }
    .loginFormButton {
      width: 100%;
      margin-bottom: 10px; /* 增加按钮之间的垂直间距 */
    }
    .loginFormButton:last-child {
      margin-bottom: 0; /* 最后一个按钮不需要底部边距 */
    }
  }
}
