.cellCenter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .verticalCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  